* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 14px;
    color: #333;
    height: 100%;
    font-family: "微软雅黑";
    font-weight: normal;
}

.add-wrap {
    width: 100%;
    margin-top: 15px;
}

.add-wrap  input,
select {
    width: 160px;
    height: 28px;
    outline: none;
    border: 1px solid #ccc;
    margin-left: 5px;
    font-weight: 400;
    padding-left: 10px;
}

.add-wrap  label {
    width: 230px;
    font-weight: 400;
    margin: 0px 0px 15px 42px;
}

.add-wrap  span {
    display: inline-block;
    width: 60px;
    height: 28px;
    line-height: 28px;
    text-align: left;
}

.input-box2 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.input-box2 button {
    background-color: #6699ff;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    padding: 8px 20px;
}

#back {
    margin-left: 60px;
}

#remark {
    width: 506px;
}

#remark input {
    width: 436px;
}

#temp input {
    width: 72px;
}

#origin {
    width: 506px;
}

#origin input {
    width: 436px;
}
#address {
    width: 506px;
}

#address input {
    width: 436px;
}
#basicDataAdd label{
    width:260px;
}
#basicDataAdd span{
    width:87px;
}
.mail-wrap {
    width: 100%;
    margin: 15px 0px 0px 42px;
}
table{
    width:92%!important;
    text-align:center;
}
thead tr{
    background-color:#eee;
}
th{
    font-weight:400;
    text-align:center;
}
.glyphicon-envelope{
    color:#f77448;
    font-size:20px;
}
.glyphicon-ok{
    color:#3399ff;
    font-size:20px;
}
.normal{
    color:#333;
}
.warn{
    color:#ff0000;
}
.fail{
    color:#3399ff;
}
.mail_mes{
    width:92%;
    margin-bottom: 15px;
    text-align:right;
}
.mail_unread{
    color:#ff0000;
}